@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
 --white: #FFF8F0;
 --primary: #92140C;
 --secondary: #623CEA;
 --black: #1E1E24;

 --max-width: 1180px;
}

@font-face {
  font-family: 'allenoire';
  src: url('./assets/fonts/allenoire.ttf') format('truetype');
  font-style: normal;
}

.ff-allen{
  font-family: 'allenoire';
}
.ff-pop{
    font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
.max-w-1180{
  max-width: var(--max-width);
}

body{
  background: var(--white);
  width: 100%;
  box-sizing: border-box;
  height: auto;
  color: var(--black)
}
.difference-text {
  color: white;
  mix-blend-mode: difference;
}
.parent-container{
  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
}
.video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  object-fit: cover;
  object-position: bottom center !important;
}
.service-card:hover > img{
  scale: 1.02;
  transition: all linear 200ms;
  transform-origin: center center;
}


.scroller{
  max-width: 1180px;
  width: 100%;
  transition: width ease 100ms;
}
.scroller[data-animated="true"]{
  overflow: hidden;
}
.scoller__inner{
  padding-block: 1rem;
  /* flex-wrap: wrap; */
  display: flex;
  gap: 3rem;
}
.scroller[data-animated="true"] .scoller__inner {
  width: max-content;
  flex-wrap: nowrap;
  }
  
.scroller[data-animated="true"][data-direction="forward"] .scoller__inner{
animation: scroll 300s linear infinite;
}

.scroller[data-animated="true"][data-direction="reverse"] .scoller__inner{
animation: scroll 300s linear infinite reverse;
}
.mask-grad {
  --webkit-mask: linear-gradient(90deg, transparent, white 10%, white 70%, transparent);
  mask: linear-gradient(90deg, transparent, white 10%, white 70%, transparent);
}

@keyframes scroll {
  to{
    transform: translate(calc(-50% - 0.125rem));
  }
}
@keyframes scrollRev {
  to{
    transform: translate(calc(50% - 0.125rem));
  }
}
